.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 218, 218);
    width: 350px;
    height: 350px;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#display {
    background-color: black;
    color: white;
    width: 290px;
    margin-top: 10px;
    height: 100px;
    font-size: 30px;
    text-align: center;
}

#clear-button {
    padding: 10px;
}

#button-container {
    display: flex;
    padding: 15px;
}

button {
    margin: 5px;
    height: 50px;
    width: 50px;
}

#clear-button {
    margin: 0px;
    margin-top: 15px;
    width: 290px;
}